# macOS artifacts
.DS_Store

# task artifacts
.task

# environment config
.env

# goreleaser artifacts
dist

# vscode artifacts
.vscode

# binary
plagiarism-backend
w2vModel.bin
w2vModel.bin.zip


# misc
*.ignore